<div class="row m-0">
    <div class="form-group col-md-3">
        <input class="form-control" id="kwh" name="kwh" type="number" autofocus required
            placeholder="Informe o valor em kw/h">
        <span class="fw-bold text-danger">@TempData["Mensagem"]</span>
    </div>
    <div class="col-3 mb-4 mr-0">
        <button class="btn btn-primary">Registrar</button>
    </div>
</div>