<div class="row">
    <div class="form-group col-md-4">
        <input class="form-control" id="kwh" name="kwh" type="number" required placeholder="Informe o valor em kw/h">
       <span class="fw-bold text-danger">@TempData["Mensagem"]</span>
    </div>
    <div class="form-group col-md-3 mb-4">
        <button class="btn btn-primary">Registrar</button>
    </div>
</div>