@model IEnumerable<LeituraDoRelogio>
@{
    ViewData["Title"] = "Index";
}
<div class="card-body">
    <form asp-action="Registrar">
        <partial name="_FormLeitura.cshtml" />
    </form>
    @if (Model.Any())
    {

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Kw /h</th>
                    <th>Consumo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Registro.ToString("dd/MM/yyyy")</td>
                        <td>@item.Kwh</td>
                        <td>@item.Consumo</td>
                        <td>
                            @if (item.Registro.Date == DateTime.Now.Date)
                            {
                                <button class="btn btn-link" onclick="confirmarAcao(@item.Id)"><em class="far fa-trash-alt"></em></button>
                            }
                            else
                            {
                                <span>---</span>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary">
            <h3>Nenhum cadastro existente!</h3>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/excluir.js" asp-append-version="true"></script>
}
